.background {
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scrollText {
  color: #2a206a;
  width: 35%;
  margin-left: 200px;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
}
.scrollTextPara {
  margin-left: -500px;
  margin-top: -20px;
  font-size: 20px;
  color: #a09bb6;
}
.letsTalk{
    height: 50px;
    width: 150px;
    margin-left: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.icon{
    font-size: 50px;
    color: #1cc283;

}
.letsTalkContent{
    color: #1cc283;
    font-size: 20px;
}
.card {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 1.25rem;
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  margin-right: 100px;
}
.cardChip {
  height: 100px;
  width: 100px;
}
.parallax {
  /* margin-right: 15%; */
}

.sticky {
  /* margin-left: 15%; */
  background-color: #5b65ad;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.purple {
  background-color: #9d65d0;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}
