* {
  margin: 0;
  padding: 0;
}
.mainBox{
  height: max-content;
  /* position: absolute; */
}
.container {
  /* position: relative; */
  margin: auto;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.bannerContent {
  padding: 150px 0 50px 0;
  height: 100%;
  width: 50%;
  margin-left: -400px;
}
.header1 {
  color: #165c8e;
  width: 50%;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.header2 {
  margin-top: 10px;
  color: #e0d567;
  width: 50%;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.header3 {
  color: #4a80a1;
  margin-top: 10px;
  width: 80%;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.letstalk {
  font-size: 20px;
  margin-top: 20px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 100px 10px 100px;
  cursor: pointer;
}
.bannerImage {
  padding: 70px 0 0 0;
  position: fixed;
  height: 400px;
  width: 400px;
  margin-left: 700px;
  z-index: 1;
}
.cardImage {
  height: 500px;
  width: 500px;
  transform: scalex(-1);
  /* margin-left: -3010px; */
  /* position: fixed; */
}
.box{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.innerBox{
  height: 100px;
  width: 100px;
  background-color: teal;
  border: 1px solid red;
  border-radius: 5px;
}
.missionStatement{
  position: relative;
  top: 00px;
  height: 500px;
  width: 100%;
  /* border: 1px solid teal; */
}
.missionStatementContainer {
  height: max-content;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  padding: 30px 0 30px 0;
}
.MissionStatement {
  text-align: center;
  font-size: 50px;
  color: #003088;
}
.msContent {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}
.missionDetails {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
  color: white;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 400px;
  background-color: #003088;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image {
  height: 100px;
  width: 100px;
  margin: auto;
}
.title {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.content {
  /* padding: 10px 0 0 0; */
  margin: auto;
  width: 90%;
  font-size: 15px;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
}
.cardManagementContainer{
  height: max-content;
  width: 100%;
  /* border: 1px solid red; */
}
.cardManagement{
  height: 1200px;
  width: 100%;
  /* border: 10px solid red; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  padding: 30px 0 30px 0;
  position: relative;
  margin: auto;
}
.cardManagementOption{
  height: 100px;
  width: 270px;
  background-color: #003088;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.cardManagementOption p{
  height: max-content;
  width: 90%;
  font-size:25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconArrow:nth-child(2){
  width: 330px;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 120px;
  left: 370px;
}
.iconArrow:nth-child(2):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  bottom: 6px;

}
.iconArrow:nth-child(2):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(-45deg);
  position: absolute;
  right: -4px;
  bottom: -6px;

}
.cardManagementOption:nth-child(1){
  position: absolute;
  top: 100px;
  left: 100px;
}
.cardManagementOption:nth-child(3){
  position: absolute;
  top: 100px;
  left: 700px;
}
.cardManagementOption:nth-child(6){
  position: absolute;
  top: 300px;
  left: 1100px;
}
.cardManagementOption:nth-child(8){
  position: absolute;
  top: 550px;
  left: 1100px;
}
.cardManagementOption:nth-child(10){
  position: absolute;
  top: 800px;
  left: 1100px;
}
.cardManagementOption:nth-child(12){
  position: absolute;
  top: 1050px;
  left: 1100px;
}
.cardManagementOption:nth-child(15){
  position: absolute;
  top: 650px;
  left: 100px;
}
.iconArrow:nth-child(4){
  width: 270px;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 120px;
  left: 970px;
}
.iconArrow:nth-child(5){
  width: 2px;
  height: 150px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 120px;
  left: 1238px;
}
.iconArrow:nth-child(5):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  bottom: 10px;

}
.iconArrow:nth-child(5):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -16px;
  bottom: 10px;
}
.iconArrow:nth-child(7){
  width: 2px;
  height: 150px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 215px;
  left: 1238px;
}
.iconArrow:nth-child(7):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  bottom: 5px;

}
.iconArrow:nth-child(7):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -16px;
  bottom: 5px;
}
.iconArrow:nth-child(9){
  width: 2px;
  height: 150px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 315px;
  left: 1238px;
}
.iconArrow:nth-child(9):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  bottom: 5px;

}
.iconArrow:nth-child(9):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -16px;
  bottom: 5px;
}
.iconArrow:nth-child(11){
  width: 2px;
  height: 150px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 415px;
  left: 1238px;
}
.iconArrow:nth-child(11):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  bottom: 5px;

}
.iconArrow:nth-child(11):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -16px;
  bottom: 5px;
}
.iconArrow:nth-child(13){
  width: 900px;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 465px;
  left:200px;
}
.iconArrow:nth-child(14){
  width: 2px;
  height: 350px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: 115px;
  left: 200px;
}
.iconArrow:nth-child(14):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -4px;
  bottom: 345px;

}
.iconArrow:nth-child(14):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -16px;
  bottom: 345px;
}
.iconArrow:nth-child(16){
  width: 2px;
  height: 450px;
  background-color: #000;
  position: relative;
  border-radius: 4px;
  top: -782px;
  left: 200px;
}
.iconArrow:nth-child(16):after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  position: absolute;
  right: -4px;
  bottom: 445px;

}
.iconArrow:nth-child(16):before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -16px;
  bottom: 445px;
}