@media (min-width: 1024px){
  .ContactUs {
    height: max-content;
    width: 100%;
    padding: 100px 0 50px 0;
    display: flex;
    margin: auto;
  }
  .ContactUs h2 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
  }
  .ContactUs_contact {
    width: 35%;
    margin: auto;
  }
  .ContactUs_mobile {
    display: flex;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .ContactUs_mobileIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_mail {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_mailIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_address {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_addressIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .form {
    height: max-content;
    width: 60%;
  }
  .ContactUs_form {
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .ContactUs_input {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 0 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  ::placeholder {
    color: black;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 50px;
    opacity: 0.5;
    /* align-items: center; */
  }
  .ContactUs_textArea {
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  textarea:-ms-input-placeholder {
    color: black;
    font-size: 10px;
    margin-left: 30px;
    padding: 20px;
  }
  .ContactUs_submit {
    /* margin: auto; */
    font-size: 20px;
    height: 50px;
    width: 100%;
    align-items: center;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #003088;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .ContactUs_submit > p {
    font-size: 20px;
  }
  .ContactUs_submitBtn {
    font-size: 20px;
  }
  .PhoneInput {
    width: 90%;
    border-radius: 10px;
    height: 90px;
    background-color: white;
    border: 1px solid red;
    padding: 0 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .PhoneInput > input {
    border: none;
    outline: none;
  }
  .homeBtn {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .ContactUs {
    height: max-content;
    width: 100%;
    padding: 100px 0 50px 0;
    display: flex;
    margin: auto;
  }
  .ContactUs h2 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
  }
  .ContactUs_contact {
    width: 35%;
    margin: auto;
  }
  .ContactUs_mobile {
    display: flex;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .ContactUs_mobileIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_mail {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_mailIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_address {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_addressIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .form {
    height: max-content;
    width: 60%;
  }
  .ContactUs_form {
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .ContactUs_input {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 0 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  ::placeholder {
    color: black;
    /* font-family: ; */
    font-size: 15px;
    margin-left: 50px;
    opacity: 0.5;
    /* align-items: center; */
  }
  .ContactUs_textArea {
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  textarea:-ms-input-placeholder {
    color: black;
    font-size: 10px;
    margin-left: 30px;
    padding: 20px;
  }
  .ContactUs_submit {
    /* margin: auto; */
    font-size: 20px;
    height: 50px;
    width: 100%;
    align-items: center;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #003088;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .ContactUs_submit > p {
    font-size: 20px;
  }
  .ContactUs_submitBtn {
    font-size: 20px;
  }
  .PhoneInput {
    width: 90%;
    border-radius: 10px;
    height: 90px;
    background-color: white;
    border: 1px solid red;
    padding: 0 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .PhoneInput > input {
    border: none;
    outline: none;
  }
  .homeBtn {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 320px) and (max-width: 720px) {
  .ContactUs {
    height: max-content;
    width: 100%;
    padding: 100px 0 20px 0;
  }
  .ContactUs h2 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
  }
  .ContactUs_contact {
    width: 90%;
    margin: auto;
  }
  .ContactUs_mobile {
    display: flex;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .ContactUs_mobileIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_mail {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_mailIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_address {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-bottom: 12px solid #003088;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
  }
  .ContactUs_addressIcon {
    color: #003088;
    height: 50px;
    width: 50px;
  }
  .ContactUs_form {
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .ContactUs_input {
    height: 15px;
    width: 85%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .ContactUs_textArea {
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  textarea:-ms-input-placeholder {
    color: black;
    font-size: 10px;
    margin-left: 30px;
    padding: 20px;
  }
  .ContactUs_submit {
    /* margin: auto; */
    font-size: 20px;
    height: 50px;
    width: 100%;
    align-items: center;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #003088;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .ContactUs_submit > p {
    font-size: 20px;
  }
  .ContactUs_submitBtn {
    font-size: 20px;
  }
  .PhoneInput {
    width: 90%;
    border-radius: 10px;
    height: 90px;
    background-color: white;
    border: 1px solid red;
    padding: 0 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .PhoneInput > input {
    border: none;
    outline: none;
  }
  .homeBtn {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-right: 50px;
  }
}
